@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', monospace;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    font-size: 20px;
    user-select: none;
}

#input-radius{
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 30px;
    width: 6rem;
    margin-top: 5px;
    outline: none;
}

#input-radius::-webkit-inner-spin-button,
#input-radius::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box{
    margin-top: 20px;
    width: 20rem;
    height: 5rem;
    border: 3px solid black;
}