<h1>Usuários</h1>
<div class="container-users">
    {{#each users}}
    <div class="container-user">
        <span>#{{this.id}} - <a href="/users/{{this.id}}">{{this.name}}</a> - {{this.occupation}}</span>
    </div>
    {{/each}}
</div>