<h1>Cadastre o seu livro:</h1>
<form action="/books/insertbook" method="POST">
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" placeholder="Digite o nome do título">
    <label for="numeroPaginas">Número de Páginas</label>
    <input type="number" name="numeroPaginas" placeholder="Digite o número de páginas">
    <input type="submit" value="Cadastrar" class="button">
</form>