@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-checkbox-checked: rgb(71, 69, 219);
    --color-time-pause: rgb(72, 219, 80);
    --color-green: rgb(57, 190, 57);
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-red: rgb(255, 0, 0);
    --color-white-gray: rgb(240, 240, 240);
    --color-yellow: rgb(255, 255, 83);
    --color-transparent: transparent;
    --color-button-active: rgba(0, 0, 0, 0.3);
    --color-black-gray: rgb(30, 30, 30);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', monospace;
}

body{
    min-height: 98vh;
}

header, main{
    width: 85%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-bottom: 2px solid var(--color-black);
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

header img{
    width: 25px;
    margin: 0 5px;
}

main, .container-timer, .container-settings{
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    cursor: pointer;
}