<h1>Criar Tarefas</h1>
<form action="/tasks/add" method="post">
    <div class="form-item">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" placeholder="Título">
    </div>
    <div class="form-item">
        <label for="description">Descrição</label>
        <textarea type="text" name="description" id="description" placeholder="Descrição"></textarea>
    </div>
    <div class="form-item">
        <input type="submit" id="submit" value="Criar">
    </div>
</form>