<h1>Usuários</h1>
<div class="container-users">
    {{#each users}}
    <div class="container-user">
        <span>#{{this.id}} - {{this.name}} - {{this.occupation}}</span>
    </div>
    {{/each}}
</div>