<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Cadastrar Produto</h1>
    <form action="/products/add" method="post">
        <div>
            <input type="text" name="name" id="name" placeholder="Digite o Nome">
        </div>
        <div>
            <input type="number" name="qtd" id="qtd" placeholder="Digite a quantidade em Estoque">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
</body>
</html>