<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Cadastrar Usuário</h1>
    <form action="/users/add" method="post">
        <div>
            <input type="text" name="name" id="name" placeholder="Digite o seu Nome">
        </div>
        <div>
            <input type="number" name="age" id="age" placeholder="Digite a sua Idade">
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
</body>
</html>